@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 90% 88%;
    --foreground: 30 6% 7%;
    --card: 39 90% 88%;
    --card-foreground: 30 6% 7%;
    --popover: 39 90% 88%;
    --popover-foreground: 30 6% 7%;
    --primary: 41 99% 71%;
    --primary-foreground: 30 6% 7%;
    --secondary: 39 34% 65%;
    --secondary-foreground: 30 6% 7%;
    --muted: 39 34% 65%;
    --muted-foreground: 30 15% 49%;
    --accent: 39 34% 65%;
    --accent-foreground: 30 6% 7%;
    --destructive: 2 86% 55%;
    --destructive-foreground: 30 6% 7%;
    --border: 30 15% 49%;
    --input: 30 15% 49%;
    --ring: 41 99% 71%;
    --chart-1: 2 86% 55%;
    --chart-2: 76 55% 48%;
    --chart-3: 209 70% 65%;
    --chart-4: 41 99% 71%;
    --chart-5: 341 100% 68%;
    --radius: 0px;
    --sidebar-background: 39 90% 88%;
    --sidebar-foreground: 30 6% 7%;
    --sidebar-primary: 41 99% 71%;
    --sidebar-primary-foreground: 30 6% 7%;
    --sidebar-accent: 39 34% 65%;
    --sidebar-accent-foreground: 30 6% 7%;
    --sidebar-border: 30 15% 49%;
    --sidebar-ring: 41 99% 71%;
  }
  .dark {
    --background: 30 6% 7%;
    --foreground: 39 90% 88%;
    --card: 30 6% 7%;
    --card-foreground: 39 90% 88%;
    --popover: 30 6% 7%;
    --popover-foreground: 39 90% 88%;
    --primary: 41 99% 71%;
    --primary-foreground: 30 6% 7%;
    --secondary: 40 6% 10%;
    --secondary-foreground: 39 90% 88%;
    --muted: 40 6% 10%;
    --muted-foreground: 30 15% 49%;
    --accent: 36 5% 18%;
    --accent-foreground: 39 90% 88%;
    --destructive: 2 86% 55%;
    --destructive-foreground: 30 6% 7%;
    --border: 30 15% 49%;
    --input: 30 15% 49%;
    --ring: 41 99% 71%;
    --chart-1: 2 86% 55%;
    --chart-2: 76 55% 48%;
    --chart-3: 209 70% 65%;
    --chart-4: 41 99% 71%;
    --chart-5: 341 100% 68%;
    --radius: 0px;
    --sidebar-background: 30 6% 7%;
    --sidebar-foreground: 39 90% 88%;
    --sidebar-primary: 41 99% 71%;
    --sidebar-primary-foreground: 30 6% 7%;
    --sidebar-accent: 45 6% 14%;
    --sidebar-accent-foreground: 39 90% 88%;
    --sidebar-border: 30 15% 49%;
    --sidebar-ring: 41 99% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    @apply w-2.5 h-2.5;

  }

  ::-webkit-scrollbar-track {
      @apply bg-transparent
  }

  ::-webkit-scrollbar-thumb {
      @apply bg-border border-[1px] border-transparent border-solid bg-clip-padding;
  }

}
